/*
	Network
*/
table.network {
	width:99%;
}
table.network th {
	font-size:14px;
	padding:5px;
	line-height:1;
}
small.networkNote {
	font-size:12px;
	display:block;
	color:#9e9e9e;
}
table.network td {
	font-size:12px;
	padding:5px;
	font-family:"Ericsson GA628", Arial;
}
table.network td span.state {
	display:inline-block;
	text-transform:uppercase;
	padding:2px 3px;
	font-size:12px ;
}
table.network td.hr {
	padding:0 0 5px 0;
	border-bottom:1px dashed #aaa;
}
/*
	Servers
*/
dl.servers {
	text-align:left;
	margin:10px;
}
dl.servers dt {
	text-align:left;
	font-size:14px;
	line-height:1.2;
	text-shadow:2px 2px 5px #000;
}
small.serverIp {
	font-size:12px;
	display:block;
	color:#9e9e9e;
}
dl.servers dd {
	text-align:left;
	font-size:12px;
	font-family:"Ericsson GA628", Arial;
	color:#03e6ff;
	padding-bottom:5px;
	margin-bottom:5px;
	border-bottom:1px dashed #aaa;
}
dl.servers dd span.state {
	display:inline-block;
	text-transform:uppercase;
	padding:2px 3px;
	font-size:12px ;
}
/*
	Weather
*/
.weatherToday,
.weatherNextdays {
	white-space:nowrap;
	padding:5px;
	margin:0 auto;
	text-align:left;
	vertical-align:top;
	display:block;
	width:calc(100% - 10px);;
}

.weatherToday .todayBox {
	display:block;
	float:left;
	margin:0 0 5px 0;
	padding:5px;
	text-align:left;
	line-height:1.0;
	border-radius:6px;
	background:rgba(255,255,255,0.25);
	width:calc(100% - 10px);
	overflow:hidden;
	box-shadow:2px 2px 5px rgba(0,0,0,0.75);
}
.todayTime {
	font-size:18px;
	display:inline-block;
	text-align:left;
	margin:5px;
	text-shadow:2px 2px 5px rgba(0,0,0,0.75);
}
.todayIcon {
	width:22px;
	font-size:22px;
	display:inline-block;
	text-align:left;
	float:left;
	margin:2px 5px;
	text-shadow:2px 2px 5px rgba(0,0,0,0.75);
}
.todayTemp {
	font-size:18px;
	display:inline-block;
	text-align:left;
	margin:5px;
	text-shadow:2px 2px 5px rgba(0,0,0,0.75);
}
.todayFeel {
	font-size:16px;
	display:inline-block;
	text-align:left;
	margin:5px;
	text-shadow:2px 2px 5px rgba(0,0,0,0.75);
}
.todayDetails {
	font-size:14px;
	display:inline-block;
	white-space:normal;
	text-align:left;
	margin:5px;
	text-shadow:2px 2px 5px rgba(0,0,0,0.75);
}
.todayTempMin {
	min-width:13%;
	font-size:14px;
	display:inline-block;
	text-align:left;
	margin:5px;
	text-shadow:2px 2px 5px rgba(0,0,0,0.75);
}
.todayTempMax {
	min-width:13%;
	font-size:14px;
	display:inline-block;
	text-align:left;
	margin:5px;
	text-shadow:2px 2px 5px rgba(0,0,0,0.75);
}
.todayHumidity {
	min-width:13%;
	font-size:14px;
	display:inline-block;
	text-align:left;
	margin:5px;
	text-shadow:2px 2px 5px rgba(0,0,0,0.75);
}
.todayClouds {
	min-width:13%;
	font-size:14px;
	display:inline-block;
	text-align:left;
	margin:5px;
	text-shadow:2px 2px 5px rgba(0,0,0,0.75);
}
.todayWinds {
	min-width:15%;
	font-size:14px;
	display:inline-block;
	text-align:left;
	margin:5px;
	text-shadow:2px 2px 5px rgba(0,0,0,0.75);
}
.todaySnow,
.todayRain{
	min-width:15%;
	font-size:14px;
	display:inline-block;
	text-align:left;
	margin:5px;
	text-shadow:2px 2px 5px rgba(0,0,0,0.75);
}
div.weatherRow {
	display:block;
}
.weatherNextdays .nextdayBox {
	display:block;
	margin:0 0 5px 0;
	padding:3px;
	text-align:left;
	line-height:1.0;
	border-radius:6px;
	background:rgba(255,255,255,0.25);
	width:calc(100% - 6px);
	overflow:hidden;
	box-shadow:2px 2px 5px rgba(0,0,0,0.75);
}
.nextdayTime {
	font-size:15px;
	display:inline-block;
	text-align:right;
	float:right;
	margin:5px;
	text-shadow:2px 2px 5px rgba(0,0,0,0.75);
}
.nextdayIcon {
	width:20px;
	font-size:20px;
	display:inline-block;
	text-align:center;
	margin:2px 5px 2px 5px;
	text-shadow:2px 2px 5px rgba(0,0,0,0.75);
}
.nextdayTempMin {
	min-width:12%;
	font-size:13px;
	display:inline-block;
	text-align:left;
	margin:5px;
	text-shadow:2px 2px 5px rgba(0,0,0,0.75);
}
.nextdayTempMax {
	min-width:12%;
	font-size:13px;
	display:inline-block;
	text-align:left;
	margin:5px;
	text-shadow:2px 2px 5px rgba(0,0,0,0.75);
}
.nextdaySnow,
.nextdayRain{
	min-width:15%;
	font-size:13px;
	display:inline-block;
	margin:5px;
	text-align:left;
	text-shadow:2px 2px 5px rgba(0,0,0,0.75);
}
/*
	Calendar
*/
.calendar {
	display:table;
	width:calc(100vw - 30px);
	height:calc(100vh - 160px);
	max-width:calc(100vw - 30px);
	max-height:calc(100vh - 160px);
    border-spacing: 1px;
    border-collapse: separate;	
	margin:0 auto;
}
.calendar .week {
	display:table-row;
}
.calendar .week .day {
	display:table-cell;
	width:calc((100vw - 20px) / 7);
	height:calc((100vh - 160px) / 6);
	max-width:calc((100vw - 20px) / 7);
	max-height:calc((100vh - 160px) / 5);
	vertical-align:top;
	padding:3px;
	text-align:left;
	background:rgba(255,255,255,0.25);
	box-shadow:2px 2px 5px rgba(0,0,0,0.75);
	overflow:hidden;
}
.calendar .week .day.previous,
.calendar .week .day.next {
	background:none;
	box-shadow:none;
}
.calendar .week .day .num {
	float:left;
	display:inline;
	font-size:14px;
	border-radius:0 0 3px 0;
	background:#000;
	color:#9e9e9e;
	padding:2px 3px;
	margin:-3px 3px 3px -3px;
	box-shadow:2px 2px 5px rgba(0,0,0,0.75);
	position:relative;
	z-index:5;
}
.calendar .week .day.active .num {
	background:#f05e16;
	color:#000;
	font-weight:bold;
	font-size:16px;
}
.calendar .week .day.active {
	background:rgba(255,255,255,0.75);
	color:#000;
}
.calendar .daynames {
	display:table-row;
}
.calendar .daynames .dayname {
	display:table-cell;
	vertical-align:bottom;
	text-align:center;
	padding:5px 0;
	font-size:10px;
	background:rgba(0,0,0,0.75);
	text-shadow:2px 2px 5px rgba(0,0,0,0.75);
	box-shadow:2px 2px 5px rgba(0,0,0,0.75);
	line-height:0.8;
	height:10px;
	max-height:10px;
}
.calendarTitle {
	display:block;
	margin:0 auto;
	text-align:center;
}
.calendarTitle .nextMonth,
.calendarTitle .prevMonth {
	display:inline-block;
	padding:3px;
	font-size:36px;
}
.calendarTitle .titleDate {
	display:inline-block;
	padding:3px;
	font-size:20px;
}
.calendarTitle .titleDate small {
	display:block;
	padding:3px;
	font-size:15px;
}
.calendar .day .notes {
	display:block;
	padding:0;
	margin:0 -2vw 0 0; /* fix the cell resizing when active */
	font-size:8px;
	overflow:hidden;
	height:calc((100vh - 160px) / 8);	
	max-height:calc((100vh - 160px) / 8);
}
.calendar .day .notes:hover,
.calendar .day .notes:active,
.calendar .day .notes:focus {
	display:block;
	width:35vw;
	height:30vh;
	max-width:35vw;
	max-height:30vh;
	padding:10px;
	margin:-20vh -20vw -10vh -15vw;
	overflow:auto;
	color:#fff;
	background:rgba(0,0,0,0.90);
	text-shadow:2px 2px 5px rgba(0,0,0,0.75);
	box-shadow:2px 2px 5px rgba(0,0,0,0.75);
	float:left;
	position:absolute;
	font-size:14px;
	white-space:normal;
	z-index:9999;
}
.calendar .day .notes .title {
	display:none;
}
.calendar .day .notes:hover .title,
.calendar .day .notes:active .title,
.calendar .day .notes:focus .title {
	display:block;
	font-size:18px;
	margin-bottom:5px;
	border-bottom:1px dashed #e9e9e9;
}
/*
	Show Image
*/
.showImage {
	text-align:center;
}
.showImage img {
	display:block;
	max-width:90vw;
	max-height:75vh;
	margin:5px auto;
	border:1px solid #000;
	box-shadow:2px 2px 5px rgba(0,0,0,0.75);
}