
__install/boot/wpa_supplicant.conf
configs/calendar/7-4.txt
configs/calendar/7-14.txt
configs/calendar/7-1.txt
configs/calendar/6-24.txt
configs/calendar/6-23.txt
configs/calendar/6-14-2021.txt
configs/calendar/5-6-2021.txt
configs/calendar/4-30.txt
configs/calendar/4-11.txt
configs/calendar/3-9.txt
configs/calendar/2-14.txt
configs/calendar/12-27.txt
configs/calendar/12-17.txt
configs/calendar/11-11.txt
configs/calendar/10-31.txt
configs/db/mail.ini
configs/db/radio.ini
configs/db/weather.ini
configs/db/network/01-router0.ini
configs/db/network/02-router1.ini
configs/db/network/03-router2.ini
configs/db/network/04-lanbox.ini
configs/db/network/05-printer.ini
configs/db/network/06-rpi1.ini
configs/db/network/07-rpi3b.ini
configs/db/network/08-zeropi.ini
configs/db/network/09-lvkpc.ini
configs/db/network/10-lvkapu.ini
configs/db/network/11-denispc.ini
configs/db/network/12-hpdv7.ini
configs/db/network/13-eeepc.ini
configs/db/network/14-sempron.ini
configs/db/network/15-iconia.ini
configs/db/network/16-viking.ini
configs/db/network/17-huawei.ini
configs/db/network/18-lgg6.ini
configs/db/servers/eshock.ini
configs/db/servers/lanbox.ini
configs/db/servers/opparis.ini
configs/db/servers/whfr.ini
php/sys/cache/date_ding.dbr
php/sys/cache/mailbox.json
php/sys/cache/newmail.dbr
php/sys/cache/radio.json
php/sys/cache/time_ding.dbr
php/sys/cache/weather.json
py/ui/preview.jpg
php/error.log
py/ui/03n@2x.png
py/ui/02n@2x.png
py/ui/04d@2x.png
py/ui/01n@2x.png
py/ui/04n@2x.png
py/ui/10d@2x.png
py/ui/10n@2x.png
py/ui/1024x600/deskboard.glade~
py/ui/480x320/deskboard.glade~
py/ui/800x480/deskboard.glade~
py/ui/deskboard-oldplayer.py
